*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/shelf/在变基之前未提交的更改_[更改]/shelved.patch
/.idea/shelf/在进行合并之前于_2026_6_4_16_34_取消提交了更改_[更改]/shelved.patch
/.idea/shelf/在进行更新之前于_2026_6_5_13_43_取消提交了更改_[更改]/shelved.patch
/.idea/shelf/_2026_6_4_16_34____.xml
/.idea/shelf/_2026_6_5_13_43____.xml
/.idea/shelf/___.xml
/.artifacts/
