<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="top.yukonga.miuix.kmp.blur"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.POST_PROMOTED_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.BIND_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" /> <!-- <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" /> -->
    <queries>
        <package android:name="com.tencent.wework" />

        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>
    <queries>
        <package android:name="com.tencent.mm" />
    </queries>

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SYSUER.DayNight"
        android:usesCleartextTraffic="true"
        tools:targetApi="36">
        <activity
            android:name=".browser.MarkdownActivity"
            android:exported="true"
            android:label="@string/title_activity_markdown"/>
        <activity
            android:name=".browser.HtmlViewActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".life.ComplaintActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".extra.UpdateActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".academic.HomeworkActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".life.EnergyFeeActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".academic.AgendaActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".browser.JSEditorActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".browser.JSActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".academic.AssistantEvaluationActivity"
            android:exported="true" />
        <activity
            android:name=".academic.PersonalInformationActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".academic.DormActivity"
            android:exported="true" />
        <activity
            android:name=".academic.RoomQueryActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />

        <service
            android:name=".CourseService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="specialUse"
            android:permission="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

        <activity
            android:name=".academic.MarkdownViewActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".academic.GradeForLevelActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".academic.AssistantInfoActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".academic.PhysicalFitnessTestResultActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".academic.LeaveReturnRegistrationActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".life.NetPayActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".CrashActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".academic.CourseSelectedActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".todo.TodoActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".academic.ExamActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".life.SchoolBusActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".academic.AcademyNotification"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".life.PayActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".academic.SchoolWorkWarning"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".academic.CourseCompletionActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".academic.MajorInfoActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".academic.RegistrationActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".academic.CETActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".academic.SchoolEnrollmentActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".academic.CourseQueryActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".academic.CourseDetailActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".academic.CourseSelectionActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".extra.PrivacyActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".extra.SettingActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".extra.AboutActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".academic.GradeActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".life.GymReservationActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".life.NewsActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".academic.TrainingProgramActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".academic.CalendarActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".academic.EvaluationActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".academic.CourseScheduleActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".browser.BrowserActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".academic.ClassroomQueryActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".studentAffair.StudentPartTimeActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/icon"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity-alias
            android:name=".MainActivityDark"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/icon_dark"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:name=".MainActivityLight"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/icon_light"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:name=".MainActivityDefault"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/icon"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>

        <receiver android:name=".AlarmReceiver" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.sysu.edu.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="com.sysu.edu.shizuku"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />

        <receiver
            android:name=".widget.NextClassWidget"
            android:exported="false"
            android:label="@string/next_class">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_next_class" />
        </receiver>
        <receiver
            android:name=".widget.TodayClassWidget"
            android:exported="false"
            android:label="@string/today_class">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_today_class" />
        </receiver>
        <receiver
            android:name=".widget.RecentClassWidget"
            android:exported="false"
            android:label="@string/recent_class">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_recent_class" />
        </receiver>
        <receiver
            android:name=".widget.TomorrowClassWidget"
            android:exported="false"
            android:label="@string/tomorrow_class">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_tomorrow_class" />
        </receiver>

        <provider
            android:name=".UncaughtExceptionHandlerContentProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="false"
            android:initOrder="101" />
    </application>

</manifest>