<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <queries>
        <package android:name="com.tencent.wework" />

        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>
    <queries>
        <package android:name="com.tencent.mm" />
    </queries>

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SYSU"
        android:usesCleartextTraffic="true"
        tools:targetApi="36">
        <activity
            android:name=".academic.GradeForLevelActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".academic.AssistantInfoActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".academic.PhysicalFitnessTestResultActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".academic.LeaveReturnRegistrationActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".life.NetPayActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".CrashActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".academic.CourseSelectedActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".todo.TodoActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".academic.ExamActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".life.SchoolBus"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".academic.AcademyNotification"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".life.Pay"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".academic.PEList"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".academic.SchoolWorkWarning"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".academic.CourseCompletionActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".academic.MajorInfo"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".academic.RegisterInfo"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".academic.CETActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".academic.SchoolEnrollmentActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".academic.CourseQueryActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".academic.CourseDetailActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".academic.CourseSelectionActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".extra.PrivacyActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".extra.SettingActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".extra.AboutActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".academic.GradeActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".life.GymReservationActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".life.News"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".academic.TrainingSchedule"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".onlineClass.OnlineClassActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".login.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@style/Theme.SYSU"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".academic.CalendarActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".academic.EvaluationActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".academic.AgendaActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".academic.BrowserActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".academic.ClassroomQueryActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".stuwork.StuJob"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".MainActivityDefault"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".MainActivityLight"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_launcher_light"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".MainActivityDark"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_launcher_dark"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <receiver android:name=".AlarmReceiver" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.sysu.edu.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="com.sysu.edu.shizuku"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />
    </application>

</manifest>